<!DOCTYPE html>
<html>
    <head>
        <title>Task List</title>
        {% load static %}
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <style>
        .modal {
            display: none;
            position: fixed;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }
        .modal-content {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            max-width: 500px;
            width: 100%;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
        </style>
    </head>
    <body class="bg-gray-100 p-8">
        <div class="container mx-auto bg-white p-6 rounded-lg shadow-lg">
            <header class="flex justify-between items-center mb-4">
                <div class="ml-auto">
                    {% if user.is_authenticated %}
                        <span class="mr-4">Welcome, {{ user.username }}!</span>
                        <button id="logoutButton" class="bg-red-500 text-white px-4 py-2 rounded">Logout</button>
                        <form id="logoutForm"
                              method="post"
                              action="{% url 'logout' %}"
                              style="display: none">
                            {% csrf_token %}
                        </form>
                    {% endif %}
                </div>
            </header>
            <h1 class="text-2xl font-bold mb-4">Task List</h1>
            <button id="openModalBtn"
                    class="bg-blue-500 text-white px-4 py-2 rounded mb-4">Create New Task</button>
            <table class="min-w-full bg-white border-collapse">
                <thead>
                    <tr>
                        <th class="py-2 px-4 border-b border-gray-300 text-left">Title</th>
                        <th class="py-2 px-4 border-b border-gray-300 text-left">Description</th>
                        <th class="py-2 px-4 border-b border-gray-300 text-left">Completed</th>
                        <th class="py-2 px-4 border-b border-gray-300 text-left">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr class="hover:bg-gray-100">
                            <td class="py-2 px-4 border-b border-gray-300">{{ task.title }}</td>
                            <td class="py-2 px-4 border-b border-gray-300">{{ task.description }}</td>
                            <td class="py-2 px-4 border-b border-gray-300">
                                {% if task.completed %}
                                    Completed
                                {% else %}
                                    Not Completed
                                {% endif %}
                            </td>
                            <td class="py-2 px-4 border-b border-gray-300">
                                <button class="{% if task.completed %}bg-gray-400 text-gray-700{% else %}bg-green-500 text-white{% endif %} px-2 py-1 rounded complete-task-btn"
                                        data-task-id="{{ task.id }}"
                                        {% if task.completed %}disabled{% endif %}>
                                    <i class="fas fa-check" aria-hidden="true"></i> <span class="sr-only">Mark Complete</span>
                                </button>
                                <button class="bg-red-500 text-white px-2 py-1 rounded delete-task-btn"
                                        data-task-id="{{ task.id }}">
                                    <i class="fas fa-trash-alt" aria-hidden="true"></i> <span class="sr-only">Delete</span>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="taskModal"
             class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
             style="display: none">
            <div class="modal-content bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
                <div class="flex justify-end">
                    <span class="text-gray-600 cursor-pointer text-2xl close">&times;</span>
                </div>
                <h2 class="text-xl font-bold mb-4 text-center">Create a New Task</h2>
                <form method="post" id="taskForm" action="{% url 'create_task' %}">
                    {% csrf_token %}
                    <div class="mb-4">{{ form.as_p }}</div>
                    <div class="flex justify-between">
                        <button type="submit"
                                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Create Task</button>
                        <button type="button"
                                class="bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 cancel-modal-btn">
                            Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div id="confirmDeleteModal"
             class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
             style="display: none">
            <div class="modal-content bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
                <div class="flex justify-end">
                    <span class="text-gray-600 cursor-pointer text-2xl close">&times;</span>
                </div>
                <h2 class="text-xl font-bold mb-4 text-center">Confirm Deletion</h2>
                <p>Are you sure you want to delete this task?</p>
                <div class="mt-4 flex justify-between">
                    <button class="bg-red-500 text-white px-4 py-2 rounded confirm-delete-btn">Delete</button>
                    <button type="button"
                            class="bg-gray-500 text-white px-4 py-2 rounded cancel-delete-btn">Cancel</button>
                </div>
            </div>
        </div>
        <div id="confirmCompleteModal"
             class="modal fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
             style="display: none">
            <div class="modal-content bg-white p-6 rounded-lg shadow-lg w-full max-w-md">
                <div class="flex justify-end">
                    <span class="text-gray-600 cursor-pointer text-2xl close">&times;</span>
                </div>
                <h2 class="text-xl font-bold mb-4 text-center">Confirm Completion</h2>
                <p>Are you sure you want to mark this task as complete?</p>
                <div class="mt-4 flex justify-between">
                    <button class="bg-green-500 text-white px-4 py-2 rounded confirm-complete-btn">Complete</button>
                    <button type="button"
                            class="bg-gray-500 text-white px-4 py-2 rounded cancel-complete-btn">Cancel</button>
                </div>
            </div>
        </div>
        <script>
    document.addEventListener('DOMContentLoaded', function() {
        var taskModal = document.getElementById("taskModal");
        var confirmDeleteModal = document.getElementById("confirmDeleteModal");
        var confirmCompleteModal = document.getElementById("confirmCompleteModal");

        var openModalBtn = document.getElementById("openModalBtn");
        var closeModalBtns = document.querySelectorAll(".close");
        var cancelModalBtns = document.querySelectorAll(".cancel-modal-btn");

        var cancelDeleteBtns = document.querySelectorAll(".cancel-delete-btn");
        var confirmDeleteBtn = document.querySelector(".confirm-delete-btn");

        var cancelCompleteBtns = document.querySelectorAll(".cancel-complete-btn");
        var confirmCompleteBtn = document.querySelector(".confirm-complete-btn");

        var deleteTaskId = null;
        var completeTaskId = null;

        openModalBtn.onclick = function() {
            taskModal.style.display = "flex";
        }

        closeModalBtns.forEach(function(btn) {
            btn.onclick = function() {
                taskModal.style.display = "none";
                confirmDeleteModal.style.display = "none";
                confirmCompleteModal.style.display = "none";
            }
        });

        cancelModalBtns.forEach(function(btn) {
            btn.onclick = function() {
                taskModal.style.display = "none";
            }
        });

        cancelDeleteBtns.forEach(function(btn) {
            btn.onclick = function() {
                confirmDeleteModal.style.display = "none";
            }
        });

        cancelCompleteBtns.forEach(function(btn) {
            btn.onclick = function() {
                confirmCompleteModal.style.display = "none";
            }
        });

        window.onclick = function(event) {
            if (event.target == taskModal) {
                taskModal.style.display = "none";
            }
            if (event.target == confirmDeleteModal) {
                confirmDeleteModal.style.display = "none";
            }
            if (event.target == confirmCompleteModal) {
                confirmCompleteModal.style.display = "none";
            }
        }

        document.querySelectorAll('.delete-task-btn').forEach(button => {
            button.onclick = function() {
                deleteTaskId = this.getAttribute('data-task-id');
                confirmDeleteModal.style.display = "flex";
            };
        });

        confirmDeleteBtn.onclick = function() {
            fetch(`{% url 'delete_task' 0 %}`.slice(0, -2) + deleteTaskId + '/', {
                method: 'DELETE',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            }).then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    return response.json().then(err => { throw err; });
                }
            }).then(data => {
                confirmDeleteModal.style.display = "none";
                location.reload();
            }).catch(error => {
                console.error('Error:', error);
                alert('An error occurred: ' + JSON.stringify(error));
            });
        };

        document.querySelectorAll('.complete-task-btn').forEach(button => {
            button.onclick = function() {
                completeTaskId = this.getAttribute('data-task-id');
                confirmCompleteModal.style.display = "flex";
            };
        });

        confirmCompleteBtn.onclick = function() {
            fetch(`{% url 'complete_task' 0 %}`.slice(0, -2) + completeTaskId + '/', {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            }).then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    return response.json().then(err => { throw err; });
                }
            }).then(data => {
                confirmCompleteModal.style.display = "none";
                location.reload();
            }).catch(error => {
                console.error('Error:', error);
                alert('An error occurred: ' + JSON.stringify(error));
            });
        };

        document.getElementById('logoutButton').onclick = function(event) {
            event.preventDefault();
            document.getElementById('logoutForm').submit();
        };
    });
        </script>
    </body>
</html>
